## 1. Write a code to create a string with your name and print it

In [ ]:
name = "Kirti"
print(name)

Kirti

## 2. Write a code to find the length of the string "Hello World".

In [ ]:
w = "Hello World"
print(len(w))

#or

print(len("Hello World"))

11
11

## 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
s = "Python Programming"
s1 = s[:3]
print(s1)

Pyt

## 4. Write a code to convert the string "hello" to uppercase.

In [ ]:
a = "hello"
print(a.upper())

HELLO

## 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
b = "I like apple"
print(b)
b = b.replace("apple", "orange")
print(b)

I like apple
I like orange

## 6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
l1 = [1, 2, 3, 4, 5]
print(l1)

[1, 2, 3, 4, 5]

## 7. P Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
l2 = [1, 2, 3, 4]
l2.append(10)
print(l2)

[1, 2, 3, 4, 10]

## 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
l3 = [1, 2, 3, 4, 5]
l3.remove(3)
print(l3)

[1, 2, 4, 5]

## 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
l4 = ['a', 'b', 'c', 'd']
print(l4[1])

b

## 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
l5 = [10, 20, 30, 40, 50]
l5.reverse()
print(l5)

[50, 40, 30, 20, 10]

## 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t1 = (100, 200, 300)
print(t1)

(100, 200, 300)

## 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t2 = ("red", "green", "blue", "yellow")
t2[-2]

'blue'

## 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
t3 = (10, 20, 5, 15)
t3_minimum = min(t3)
print(t3_minimum)

5

## 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
t4 = ('dog', 'cat', 'rabbit')
t4_index = t4.index("cat")
print(t4_index)

1

## 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [5]:
t5 = ('apple', 'banana', 'kiwi')
print('kiwi' in t5)

True

## 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [6]:
s1 = {'a', 'b', 'c'}
print(s1)
type(s1)

{'b', 'a', 'c'}

set

## 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [9]:
s2 = {1, 2, 3, 4, 5}
print(s2)

s2.clear()
print(s2)

{1, 2, 3, 4, 5}
set()

## 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [10]:
s3 = {1, 2, 3, 4}
print(s3)

s3.remove(4)
print(s3)

{1, 2, 3, 4}
{1, 2, 3}

## 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [16]:
s4 = {1, 2, 3}
s5 = {3, 4, 5}

s4.union(s5)
#OR
print(s4 | s5)

{1, 2, 3, 4, 5}

## 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [18]:
s4 = {1, 2, 3}
s6 = {2, 3, 4}

s4.intersection(s6)
#OR
print(s4 & s6)

{2, 3}

## 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
d1 = {"Name": "Kirt", "Age": 20, "city": "Varanasi"}
print(d1)

{'Name': 'Kirt', 'Age': 20, 'city': 'Varanasi'}

## 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [24]:
d2 = {'name': 'John', 'age': 25}
print(d2)
d2["country"] = "USA"
print(d2)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

## 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [26]:
d3 = {'name': 'Alice', 'age': 30}
d3["name"]

'Alice'

## 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [30]:
d4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(d4)
d4.pop('age')
print(d4)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

## 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [31]:
d5 = {'name': 'Alice', 'city': 'Paris'}
"city" in d5

True

## 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [33]:
#LIST
lis = [1, 2, 3, 4, 5]
print(lis)

#TUPLE
tup = ('a', 'b', 'c', 'd', 'e')
print(tup)

#DICTIONARY
dis = {1:'a', 2:'b', 3:'c'}
print(dis)

[1, 2, 3, 4, 5]
('a', 'b', 'c', 'd', 'e')
{1: 'a', 2: 'b', 3: 'c'}

## 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [45]:
# Generate a list of 5 random numbers between 1 and 100

import random

random_list = random.sample(range(1, 101), 5)
print(random_list)

random_list.sort()
print(random_list)

[40, 24, 60, 67, 56]
[24, 40, 56, 60, 67]

## 28. Write a code to create a list with strings and print the element at the third index.

In [34]:
lis_1 = ['apple', 'kiwi', 'lemon', 'dragon fruit', 'banana']
lis_1[3]

'dragon fruit'

## 29. Write a code to combine two dictionaries into one and print the result.

In [39]:
dis_1 = {'name': 'Alice', 'city': 'Paris'}
dis_2 = {'father': 'John', 'age': 25}
dis_1.update(dis_2)
print(dis_1)

{'name': 'Alice', 'city': 'Paris', 'father': 'John', 'age': 25}

## 30.  Write a code to convert a list of strings into a set.

In [41]:
lis_2 = ['apple', 'kiwi', 'lemon', 'banana', 'grapes']
set_1 = set(lis_2)
print(set_1)
type(set_1)

{'lemon', 'apple', 'grapes', 'kiwi', 'banana'}

set